alias sip show ip interface brief
logging host 10.34.0.254 514
ntp server 10.34.0.254 prefer
hostname vlab31
ip name-server 10.34.0.254
username admin privilege 15 role network-admin secret sha512 $6$zg05nuSqCeznzinp$AAMXHmxyacZ0qFxKtsSTLnssLMD8zt29KvBg558jrgPULPfe9WrwfaU07EeWQrw22ud.h5S8e5cR0XwWwZyec0
vlan 300
   name 3_floor_data
vlan 301
   name 3_floor_voice
vlan 302
   name 3_floor_corp_ssid
vlan 303
   name 3_floor_guest_ssid
interface Management1
   ip address 10.34.0.31/24
ip route 0.0.0.0/0 10.34.0.1
management api http-commands
   no shutdown
end
