alias sip show ip interface brief
logging host 10.34.0.254 514
ntp server 10.34.0.254 prefer
hostname vlab22
ip name-server 10.34.0.254
username admin privilege 15 role network-admin secret sha512 $6$zg05nuSqCeznzinp$AAMXHmxyacZ0qFxKtsSTLnssLMD8zt29KvBg558jrgPULPfe9WrwfaU07EeWQrw22ud.h5S8e5cR0XwWwZyec0
vlan 200
   name 2_floor_data
vlan 201
   name 2_floor_voice
vlan 202
   name 2_floor_corp_ssid
vlan 203
   name 2_floor_guest_ssid
interface Management1
   ip address 10.34.0.22/24
ip route 0.0.0.0/0 10.34.0.1
management api http-commands
   no shutdown
end
