vlan {{ data_vlan }}
   name {{ floor }}_floor_data
vlan {{ voice_vlan }}
   name {{ floor }}_floor_voice
vlan {{ corp_vlan }}
   name {{ floor }}_floor_corp_ssid
vlan {{ guest_vlan }}
   name {{ floor }}_floor_guest_ssid
