interface Ethernet1
   switchport
   switchport mode trunk
   channel-group 12 mode active
!
interface Ethernet2
   switchport
   switchport mode trunk
   channel-group 12 mode active
!
interface Port-Channel12
   switchport
   switchport mode trunk
